Repository gucio321/tic-tac-go, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, workflow, code, unittests, danger-zone, terminal implementation, giu widget, game core, AI-logic

scripts: improve draw-board script
  scripts/draw-board/main.go
Labels: code

pcplayer engine tests: add canWin tests
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

pcplayer engine: add more mechanic tests
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

linter: suppress godox
  .golangci.yml
Labels: none

pcplayer test: add test cases for two moves winning
  pkg/core/pcplayer/pc_player_engine.go
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

circleci: update to use go 1.18
  .circleci/config.yml
Labels: none

circleci: remove unnecessary workflow parameters
  .circleci/config.yml
Labels: none

pcplayer test: add more tests
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

pcplayer engine: set more decent variable names
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

pcplayer engine: fix way canWinTwoMoves works
  pkg/core/pcplayer/pc_player_engine.go
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

update pcplayer engine tests
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

pcplayer engine: add some more tests
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

pcplayer engine: add some test
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

all: fix lint errors
  pkg/core/pcplayer/pc_player_engine.go
  scripts/draw-board/main.go
Labels: code, game core, AI-logic

circleci: install missing libraries
  .circleci/config.yml
Labels: none

pcplayer engine: fix bug in canWInTwoMoves method
  pkg/core/pcplayer/pc_player_engine.go
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

game: reset players in Reset method
  pkg/game/game.go
Labels: code

pcplayer engine: refactor canWinTwoMoves method
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

pcplayer engine: refactoring: add getAvailableOptions method and change nil strategy to empty slice
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

pcplayer: fix lint errors
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

add game logo
  README.md
  cmd/giu-game/logo.png
  cmd/giu-game/tic-tac-go.go
  logo.png
Labels: documentation, code, giu widget

update readme
  README.md
Labels: documentation

terminal: refactoring: use terminalmenu module
  go.mod
  go.sum
  internal/terminalgame/menu/menu.go
  internal/terminalgame/menu/menu_index.go
  internal/terminalgame/menu/menu_page.go
Labels: dependencies, code, terminal implementation

go mod: update terminalmenu: v1 => v1.1
  go.mod
  go.sum
  internal/terminalgame/menu/menu.go
Labels: dependencies, code, terminal implementation

internal: use go-clear instead of built-in utils.Clear
  go.mod
  go.sum
  internal/terminalgame/game/game.go
  internal/terminalgame/menu/menu.go
  internal/terminalgame/utils/utils.go
Labels: dependencies, code, terminal implementation

internal: clean up code
  internal/terminalgame/game/game.go
  internal/terminalgame/menu/menu.go
  internal/terminalgame/utils/utils.go
Labels: code, terminal implementation

internal/terminalgame: remove getUserAction; use menuutils.GetNumber instead
  go.mod
  go.sum
  internal/terminalgame/menu/menu.go
Labels: dependencies, code, terminal implementation

dependencies: use regular repository instead of gist for osinfo package
  go.mod
  go.sum
  internal/terminalgame/menu/menu.go
Labels: dependencies, code, terminal implementation

internal/terminalgame: remove user_api stuff
  internal/terminalgame/game/game.go
  internal/terminalgame/game/user_api.go
Labels: code, terminal implementation

internal/terminalgame: remove bufio.Reder instance
  internal/terminalgame/menu/menu.go
Labels: code, terminal implementation

update terminalmenu
  go.mod
  go.sum
Labels: dependencies

go mod tidy
  go.mod
  go.sum
Labels: dependencies

hotfix: fix bug when terminal-game called CurrentPlayer when game wasn't running and caused panic
  internal/terminalgame/game/game.go
  pkg/game/game.go
  pkg/giuwidget/state.go
Labels: code, terminal implementation, giu widget

pcplayer test: pointt bugged part of GetPCMove
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

pcplayer: fix bug in GetPCMove method
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

pcplayer: refactoring; add PCPlayer type
  pkg/core/pcplayer/pc_player_engine.go
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

refactoring players package
  pkg/core/pcplayer/pc_player_engine.go
  pkg/core/players/player/player.go
  pkg/core/players/player/player_test.go
  pkg/core/players/players.go
Labels: code, unittests, game core, AI-logic

pkg/game: refactoring
  pkg/core/players/players.go
  pkg/game/game.go
  pkg/game/player.go
  pkg/game/playerType.go
Labels: code, game core

game api: remove Dispose and Reset methods
  pkg/game/game.go
Labels: code

Revert "game api: remove Dispose and Reset methods"
  pkg/game/game.go
Labels: code

.github/labeler.yml:

documentation:
  - ./*md
  - ./docs/**/*

dependencies:
  - go.mod
  - go.sum

workflow:
  - .github/**/*

code:
  - ./**/*go

unittests:
  - ./**/*_test.go

danger-zone:
  - ./LICENSE


terminal implementation:
  - ./internal/terminalgame/**/*
  - ./cmd/terminal-game/*

giu widget:
  - ./pkg/giuwidget/**/*
  - ./cmd/giu-game/*

game core:
  - ./pkg/core/**/*

AI-logic:
  - ./pkg/core/pcplayer/**/*
