Repository gucio321/tic-tac-go, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, workflow, code, unittests, danger-zone, terminal implementation, giu widget, game core, AI-logic

pcplaye: engine performence boost
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

pcplayer: fix bug in minmax engine
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

pcplayer: min max now uses global waitgroup (instead of internal for each mm call)
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

pcplayer: minmax: use canWin internal function
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

update algorithm
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

update widget and algorithm
  cmd/giu-game/tic-tac-go.go
  pkg/core/pcplayer/pc_player_engine.go
  pkg/giuwidget/state.go
  pkg/giuwidget/widget.go
Labels: code, giu widget, game core, AI-logic

hotfix: fix pcplayer test
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

linter; update config
  .golangci.yml
Labels: none

update linter version in workflow
  .github/workflows/golangci-lint.yaml
Labels: workflow

circleci: update golangci version
  .circleci/config.yml
Labels: none

workflows: update go to v1.23
  .github/workflows/build.yml
Labels: workflow

circleci: update go to v1.23
  .circleci/config.yml
Labels: none

circleci: update golangci-lint to v1.61.0
  .circleci/config.yml
Labels: none

workflows/golangci-lint: update go to v1.23.x and golangci-lint to v1.61.0
  .github/workflows/golangci-lint.yaml
Labels: workflow

fix linting
  .golangci.yml
  go.mod
  internal/logger/logger.go
  internal/terminalgame/gameimpl/game.go
  internal/terminalgame/utils/utils.go
  pkg/core/board/enum.go
  pkg/core/pcplayer/pc_player_engine.go
  pkg/giuwidget/widget.go
Labels: dependencies, code, terminal implementation, giu widget, game core, AI-logic

workflows?coverage: upgrade go to v1.23.x
  .github/workflows/coverage.yaml
Labels: workflow

go mod tidy and bugfix number
  go.mod
Labels: dependencies

run go mod tidy xd
  go.mod
Labels: dependencies

cmd/giu-game: fix build error
  cmd/giu-game/tic-tac-go.go
Labels: code, giu widget

deps: update giu to v0.13.0
  go.mod
  go.sum
Labels: dependencies

workflows: upgrade go version detection
  .github/workflows/build.yml
  .github/workflows/golangci-lint.yaml
Labels: workflow

dockerfile: update go version
  Dockerfile
Labels: none

golangci: migrate
  .golangci.json
  .golangci.yml
Labels: none

circleci: update golangci-lint version
  .circleci/config.yml
Labels: none

makefile: add more debugging
  Makefile
Labels: none

workflows: actually clone code before setting up go with go.mod version
  .github/workflows/golangci-lint.yaml
Labels: workflow

workflows: set golangci-lint version as v2.0.1
  .github/workflows/golangci-lint.yaml
Labels: workflow

workflows(golangci): upgrade golangci-lint to v2.1.6
  .github/workflows/golangci-lint.yaml
Labels: workflow

fix lint errors from v2.1.6
  internal/terminalgame/gameimpl/game.go
  pkg/core/board/board_test.go
  pkg/core/board/enum.go
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, unittests, terminal implementation, game core, AI-logic

dependabot: remove reviewers field and add CODEOWNERS
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: workflow

workflows: use go-version-file in coverage.yaml
  .github/workflows/coverage.yaml
Labels: workflow

workflows: use go-version-file in release-package.yaml
  .github/workflows/release-package.yml
Labels: workflow

golangci: update config for v2.5
  .golangci.json
Labels: none

workflows: update golangci-lint version to v2.5.0
  .github/workflows/golangci-lint.yaml
Labels: workflow

run golangci with --fix
  pkg/core/board/board.go
  pkg/core/board/enum.go
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

supress revive on internal utils package
  internal/terminalgame/utils/utils.go
Labels: code, terminal implementation

internal: update to use new blackfriday api
  internal/terminalgame/menu/menu.go
Labels: code, terminal implementation

fix lint errors
  internal/terminalgame/menu/menu.go
  internal/terminalgame/utils/utils.go
  pkg/core/board/board_test.go
  pkg/core/board/enum_test.go
  pkg/core/board/letter/letter_test.go
  pkg/giuwidget/widget.go
Labels: code, unittests, terminal implementation, giu widget, game core

deps: update giu to v0.15.0
  go.mod
  go.sum
Labels: dependencies

workflows: update golangci version
  .github/workflows/golangci-lint.yaml
Labels: workflow

.github/labeler.yml:

documentation:
  - ./*md
  - ./docs/**/*

dependencies:
  - go.mod
  - go.sum

workflow:
  - .github/**/*

code:
  - ./**/*go

unittests:
  - ./**/*_test.go

danger-zone:
  - ./LICENSE


terminal implementation:
  - ./internal/terminalgame/**/*
  - ./cmd/terminal-game/*

giu widget:
  - ./pkg/giuwidget/**/*
  - ./cmd/giu-game/*

game core:
  - ./pkg/core/**/*

AI-logic:
  - ./pkg/core/pcplayer/**/*
