Repository gucio321/tic-tac-go, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, workflow, code, unittests, danger-zone, terminal implementation, giu widget, game core, AI-logic

workflows/release-package: remove schedule event
  .github/workflows/release-package.yml
Labels: workflow

workflows/release pakcage: attempt to fix workflow (fix #150)
  .github/workflows/release-package.yml
Labels: workflow

workflows/release package: change marvinpinto/action-automatic-releases version from latest to v1.2.0
  .github/workflows/release-package.yml
Labels: workflow

issue templates: remove bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: workflow

readme: add installation instruction
  README.md
Labels: documentation

pkg structure: extract game from pkg/core
  internal/terminalgame/game/game.go
  pkg/game/game.go
  pkg/giuwidget/widget.go
Labels: code, terminal implementation, giu widget

pkg/game: update pkg comment
  pkg/game/game.go
Labels: code

pkg/core: rename ttgboard -> board
  internal/terminalgame/menu/menu.go
  pkg/core/board/board.go
  pkg/core/board/board_test.go
  pkg/core/board/doc.go
  pkg/core/board/enum.go
  pkg/core/board/enum_test.go
  pkg/core/ttgpcplayer/pc_player_engine.go
  pkg/core/ttgpcplayer/pc_player_engine_test.go
  pkg/game/game.go
Labels: code, unittests, terminal implementation, game core

pkg/core: rename ttgletter -> board/letter
  internal/terminalgame/game/game.go
  pkg/core/board/board.go
  pkg/core/board/board_test.go
  pkg/core/board/letter/doc.go
  pkg/core/board/letter/letter.go
  pkg/core/board/letter/letter_test.go
  pkg/core/ttgpcplayer/pc_player_engine.go
  pkg/core/ttgpcplayer/pc_player_engine_test.go
  pkg/core/ttgplayers/players.go
  pkg/core/ttgplayers/ttgplayer/player.go
  pkg/core/ttgplayers/ttgplayer/player_test.go
  pkg/game/game.go
  pkg/giuwidget/widget.go
Labels: code, unittests, terminal implementation, giu widget, game core

pkg: rename board package name: ttgboard -> board
  internal/terminalgame/menu/menu.go
  pkg/core/board/board.go
  pkg/core/board/board_test.go
  pkg/core/board/doc.go
  pkg/core/board/enum.go
  pkg/core/board/enum_test.go
  pkg/core/ttgpcplayer/pc_player_engine.go
  pkg/core/ttgpcplayer/pc_player_engine_test.go
  pkg/game/game.go
Labels: code, unittests, terminal implementation, game core

pkg/core/board/letter: change pkg name ttgletter -> letter
  internal/terminalgame/game/game.go
  pkg/core/board/board.go
  pkg/core/board/board_test.go
  pkg/core/board/letter/doc.go
  pkg/core/board/letter/letter.go
  pkg/core/board/letter/letter_test.go
  pkg/core/ttgpcplayer/pc_player_engine.go
  pkg/core/ttgpcplayer/pc_player_engine_test.go
  pkg/core/ttgplayers/players.go
  pkg/core/ttgplayers/ttgplayer/player.go
  pkg/core/ttgplayers/ttgplayer/player_test.go
  pkg/game/game.go
  pkg/giuwidget/widget.go
Labels: code, unittests, terminal implementation, giu widget, game core

pcplayer: add link to issue in nolint comment
  pkg/core/ttgpcplayer/pc_player_engine.go
Labels: code, game core

pcplayer: remove log.Fatal call
  pkg/core/ttgpcplayer/pc_player_engine.go
Labels: code, game core

pkg: rename ttgpcplayer -> pcplayer
  pkg/core/pcplayer/README.md
  pkg/core/pcplayer/pc_player_engine.go
  pkg/core/pcplayer/pc_player_engine_test.go
  pkg/game/game.go
Labels: code, unittests, game core, AI-logic

pkg: rename ttgplayers -> players
  cmd/giu-game/main.go
  internal/terminalgame/game/game.go
  internal/terminalgame/menu/menu.go
  pkg/core/players/players.go
  pkg/core/players/ttgplayer/doc.go
  pkg/core/players/ttgplayer/player.go
  pkg/core/players/ttgplayer/player_test.go
  pkg/game/game.go
  pkg/giuwidget/widget.go
Labels: code, unittests, terminal implementation, giu widget, game core

pkg: rename players/ttgplayer -> players/player
  cmd/giu-game/main.go
  internal/terminalgame/game/game.go
  internal/terminalgame/menu/menu.go
  pkg/core/pcplayer/pc_player_engine.go
  pkg/core/players/player/doc.go
  pkg/core/players/player/player.go
  pkg/core/players/player/player_test.go
  pkg/core/players/players.go
  pkg/core/players/ttgplayer/doc.go
  pkg/game/game.go
  pkg/giuwidget/widget.go
Labels: code, unittests, terminal implementation, giu widget, game core, AI-logic

pkg/core/players/player: rename PlayerType -> Type && PlayerCb -> Callback (fix lint errors)
  internal/terminalgame/game/game.go
  pkg/core/players/player/player.go
  pkg/core/players/players.go
  pkg/game/game.go
  pkg/giuwidget/widget.go
Labels: code, terminal implementation, giu widget, game core

game: add IsRunning
  pkg/game/game.go
Labels: code

game.(*Game).isRunningPanic: make a method of game
  pkg/game/game.go
Labels: code

board: add static checks for board methods arguments
  pkg/core/board/board.go
Labels: code, game core

game: fix build error
  pkg/game/game.go
Labels: code

all: fix lint errors
  pkg/core/board/board.go
  pkg/game/game.go
Labels: code, game core

game: add Stop an Reset
  pkg/game/game.go
Labels: code

giuwidget: set "Play new game" buttons enabled state depending on game.IsRunning
  pkg/giuwidget/widget.go
Labels: code, giu widget

giuwidget: remove game end handler (not necessary (close #148)
  pkg/giuwidget/widget.go
Labels: code, giu widget

pkg/core/board: remove chainLength argument from (*Board).IsWinner (fix #153)
  pkg/core/board/board.go
  pkg/core/pcplayer/pc_player_engine.go
  pkg/game/game.go
  pkg/giuwidget/widget.go
Labels: code, giu widget, game core, AI-logic

game: fix lint errors
  pkg/game/game.go
Labels: code

pkg/board: add GetWinner method
  pkg/core/board/board.go
Labels: code, game core

giuwidget: use GetWinner instead of IsWinner
  pkg/giuwidget/widget.go
Labels: code, giu widget

board/letter: refactoring
  go.mod
  go.sum
  pkg/core/board/board.go
  pkg/core/board/board_test.go
  pkg/core/board/letter/letter.go
  pkg/core/board/letter/letter_test.go
Labels: dependencies, code, unittests, game core

board: remove log.fatal call from GetoppositeCorner
  pkg/core/board/enum.go
Labels: code, game core

board: remove log.Fatal calls - replace with panic
  pkg/core/board/enum.go
Labels: code, game core

pcplayer: canWin returns now slice of possible solutions
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

pcplayer: extract random number generator from GetPlayerMove
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

pcplayer: fix tests
  pkg/core/board/board_test.go
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

pcplayer: fix lint errors
  pkg/core/board/board_test.go
  pkg/core/pcplayer/pc_player_engine.go
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

pcplayer: GetPCMove refactoring
  cmd/giu-game/main.go
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, giu widget, game core, AI-logic

.github/workflows/release-package: refactoring - build on push to tag
  .github/workflows/release-package.yml
Labels: workflow

.github/workflows/release-package: refactoring - build on push to tag
  .github/workflows/release-package.yml
Labels: workflow

.github/workflows/release-package: refactoring - build on push to tag
  .github/workflows/release-package.yml
Labels: workflow

.github/labeler.yml:

documentation:
  - ./*md
  - ./docs/**/*

dependencies:
  - go.mod
  - go.sum

workflow:
  - .github/**/*

code:
  - ./**/*go

unittests:
  - ./**/*_test.go

danger-zone:
  - ./LICENSE


terminal implementation:
  - ./internal/terminalgame/**/*
  - ./cmd/terminal-game/*

giu widget:
  - ./pkg/giuwidget/**/*
  - ./cmd/giu-game/*

game core:
  - ./pkg/core/**/*

AI-logic:
  - ./pkg/core/pcplayer/**/*
