Repository gucio321/tic-tac-go, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, workflow, code, unittests, danger-zone, terminal implementation, giu widget, game core, AI-logic

update readme
  README.md
Labels: documentation

game: clean up OnContinue
  pkg/game/game.go
Labels: code

add pull request comments trigger
  .github/workflows/commands.yaml
Labels: workflow

Revert "Merge pull request #155 from gucio321/pull-request-commands"
  .github/workflows/commands.yaml
Labels: workflow

add codecov workflow
  .github/workflows/coverage.yaml
Labels: workflow

player.go: add missing test; rewrite to use `assert`
  pkg/core/players/player/player_test.go
Labels: code, unittests, game core

readme: add coverage report
  README.md
Labels: documentation

board_test.go: complete tests; increase coverage
  pkg/core/board/board_test.go
Labels: code, unittests, game core

enum_test: complete tests (increase coverage)
  pkg/core/board/enum_test.go
Labels: code, unittests, game core

fix linter workflow
  .github/workflows/golangci-lint.yaml
Labels: workflow

letter_test: add mising test
  coverage.txt
  pkg/core/board/letter/letter_test.go
Labels: code, unittests, game core

player_test.go: add tests
  coverage.txt
  pkg/core/players/player/player.go
  pkg/core/players/player/player_test.go
Labels: code, unittests, game core

board_test: add some tests
  coverage.txt
  pkg/core/board/board_test.go
Labels: code, unittests, game core

autoupdate.yaml: add excclude-labels var
  .github/workflows/autoupdate.yaml
Labels: workflow

add linter's autofixes
  pkg/core/players/player/player_test.go
Labels: code, unittests, game core

all: fix lint errors
  pkg/core/board/board_test.go
  pkg/core/board/letter/letter_test.go
  pkg/core/players/player/player_test.go
Labels: code, unittests, game core

autoupdate workflow: fix variable name
  .github/workflows/autoupdate.yaml
Labels: workflow

remove coverage.txt
  coverage.txt
Labels: none

add coverage.txt to gitignore
  .gitignore
Labels: none

board: add missing unittests; minor bugfixes
  pkg/core/board/board.go
  pkg/core/board/board_string_test.go
  pkg/core/board/board_test.go
Labels: code, unittests, game core

all: lintfix
  pkg/core/board/board_string_test.go
  pkg/core/board/board_test.go
Labels: code, unittests, game core

pcplayer: update readme
  pkg/core/pcplayer/README.md
Labels: game core, AI-logic

make change in readme
  README.md
Labels: documentation

update golang dependencies
  go.mod
  go.sum
Labels: dependencies

readme: fix spelling
  README.md
Labels: documentation

readme: update installation instruction
  README.md
Labels: documentation

circleci: hardcode golangcilint version
  .circleci/config.yml
Labels: none

fix circleci build
  .circleci/config.yml
  .github/workflows/golangci-lint.yaml
Labels: workflow

go: update dependencies
  go.mod
  go.sum
Labels: dependencies

bugfix: fix bug when game result was randomly None
  internal/terminalgame/game/game.go
  internal/terminalgame/utils/utils.go
  pkg/game/game.go
Labels: code, terminal implementation

game: further refactoring
  internal/terminalgame/game/game.go
  internal/terminalgame/utils/utils.go
  pkg/game/game.go
Labels: code, terminal implementation

dependencies: update golang dependencies
  go.mod
  go.sum
Labels: dependencies

giugame: fix build errors
  pkg/giuwidget/state.go
  pkg/giuwidget/widget.go
Labels: code, giu widget

game impl: add not running panic
  pkg/game/game.go
Labels: code

giu impl: donot run game.Run in goroutine
  pkg/giuwidget/widget.go
Labels: code, giu widget

giu widget: introduce to fixing panics
  pkg/giuwidget/widget.go
Labels: code, giu widget

go mod: update to latest giu
  go.mod
  go.sum
Labels: dependencies

giuwidget: fix rest of panics
  pkg/giuwidget/state.go
  pkg/giuwidget/widget.go
Labels: code, giu widget

cmd/giu-game: change board size
  cmd/giu-game/main.go
Labels: code, giu widget

cmd: rename main.go -> tic-tac-go.go
  cmd/giu-game/tic-tac-go.go
  cmd/terminal-game/tic-tac-go.go
Labels: code, terminal implementation, giu widget

.github/labeler.yml:

documentation:
  - ./*md
  - ./docs/**/*

dependencies:
  - go.mod
  - go.sum

workflow:
  - .github/**/*

code:
  - ./**/*go

unittests:
  - ./**/*_test.go

danger-zone:
  - ./LICENSE


terminal implementation:
  - ./internal/terminalgame/**/*
  - ./cmd/terminal-game/*

giu widget:
  - ./pkg/giuwidget/**/*
  - ./cmd/giu-game/*

game core:
  - ./pkg/core/**/*

AI-logic:
  - ./pkg/core/pcplayer/**/*
