Repository gucio321/tic-tac-go, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, workflow, code, unittests, danger-zone, terminal implementation, giu widget, game core, AI-logic

.github/labeler.yml:

documentation:
  - ./*md
  - ./docs/**/*

dependencies:
  - go.mod
  - go.sum

workflow:
  - .github/**/*

code:
  - ./**/*go

unittests:
  - ./**/*_test.go

danger-zone:
  - ./LICENSE


terminal implementation:
  - ./internal/terminalgame/**/*
  - ./cmd/terminal-game/*

giu widget:
  - ./pkg/giuwidget/**/*
  - ./cmd/giu-game/*

game core:
  - ./pkg/core/**/*

AI-logic:
  - ./pkg/core/pcplayer/**/*

pkg/game.Reset: fix method
  pkg/game/game.go
Labels: code

pkg/game: finish humanPlayer implementation
  pkg/game/game.go
  pkg/game/player.go
Labels: code

wip on fixing terminalgame
  internal/terminalgame/game/game.go
  internal/terminalgame/menu/menu.go
Labels: code, terminal implementation

internal/terminalgame: refactoring
  internal/terminalgame/game/doc.go
  internal/terminalgame/gameimpl/doc.go
  internal/terminalgame/gameimpl/game.go
  internal/terminalgame/gameimpl/user_api.go
  internal/terminalgame/menu/menu.go
Labels: code, terminal implementation

giuwidget: refactoring
  cmd/giu-game/tic-tac-go.go
  pkg/game/game.go
  pkg/giuwidget/state.go
  pkg/giuwidget/widget.go
Labels: code, giu widget

pcplayer: fix test
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

all: fix lint errors
  cmd/giu-game/tic-tac-go.go
  internal/terminalgame/menu/menu.go
  pkg/core/pcplayer/pc_player_engine.go
  pkg/core/players/player/player.go
  pkg/core/players/players.go
  pkg/game/playerType.go
  pkg/giuwidget/state.go
  pkg/giuwidget/widget.go
Labels: code, terminal implementation, giu widget, game core, AI-logic

players: implement random generator for first number
  internal/terminalgame/menu/menu.go
  pkg/core/players/players.go
  pkg/game/game.go
Labels: code, terminal implementation, game core

pcplayer: use crypto/rand instead of math/rand
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

pcplayer engine test: add test for String method
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

all: fix lint errors
  pkg/core/pcplayer/pc_player_engine_test.go
  pkg/core/players/players.go
Labels: code, unittests, game core, AI-logic

internal/terminalgame: remove init func
  internal/terminalgame/menu/menu.go
Labels: code, terminal implementation

add work on minmax alg
  cmd/minmax/main.go
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, game core, AI-logic

readme: fix font
  README.md
Labels: documentation

readme: fix font
  README.md
Labels: documentation

deps: update golang dependencies
  go.mod
  go.sum
Labels: dependencies

giu: update to master version
  go.mod
  go.sum
Labels: dependencies

go.sum: tidy
  go.sum
Labels: dependencies

docker: add simple dockerfile
  Dockerfile
Labels: none

internal: add logger
  internal/logger/log_level.go
  internal/logger/log_level_string.go
  internal/logger/logger.go
Labels: code

go mod: add missing deps
  go.mod
  go.sum
Labels: dependencies

pcplayer; add unittest for #190
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

pcplayer: fix broken test; add some debug logs
  pkg/core/board/board.go
  pkg/core/pcplayer/pc_player_engine.go
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

fix broken test
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

docker: add docker-compose.yaml
  Dockerfile
  docker-compose.yaml
Labels: none

dockerfile: adjust some settings
  Dockerfile
Labels: none

dockerfile: use a bit smaller buster image
  Dockerfile
Labels: none

workflows: add docker-publishing workflow
  .github/workflows/publish-docker-image.yaml
Labels: workflow

Revert "workflows: add docker-publishing workflow"
  .github/workflows/publish-docker-image.yaml
Labels: workflow

bugfix: fix bug in pkg/core/players package
  pkg/core/players/players.go
Labels: code, game core

readme: add docker instruction
  README.md
Labels: documentation

makefile: add stringer in setup step
  Makefile
Labels: none

lint: fix lint errors; remove deprecated linters
  .golangci.yml
  cmd/giu-game/tic-tac-go.go
  cmd/terminal-game/tic-tac-go.go
  pkg/core/board/board.go
  pkg/core/board/enum.go
  pkg/core/pcplayer/pc_player_engine.go
  pkg/core/pcplayer/pc_player_engine_test.go
  pkg/giuwidget/widget.go
  scripts/draw-board/main.go
Labels: code, unittests, terminal implementation, giu widget, game core, AI-logic

workflows: update to use latest go and golangci-lint
  .circleci/config.yml
  .github/workflows/build.yml
  .github/workflows/coverage.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/release-package.yml
Labels: workflow

Create FUNDING.yml
  .github/FUNDING.yml
Labels: workflow

logger: set caller depth
  internal/logger/logger.go
Labels: code

logger: fix lint errors
  internal/logger/logger.go
Labels: code

deps: update golang dependencies
  go.mod
  go.sum
Labels: dependencies

pcplayer engine: add MinMax Algorithm implementation
  internal/terminalgame/gameimpl/game.go
  internal/terminalgame/menu/menu.go
  pkg/core/board/board_test.go
  pkg/core/pcplayer/pc_player_engine.go
  pkg/game/game.go
  pkg/game/playerType.go
Labels: code, unittests, terminal implementation, game core, AI-logic

pcplayer: support max depth; fix giu game
  cmd/giu-game/tic-tac-go.go
  pkg/core/pcplayer/pc_player_engine.go
Labels: code, giu widget, game core, AI-logic
