Repository gucio321/tic-tac-go, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, workflow, code, unittests, danger-zone, terminal implementation, giu widget, game core, AI-logic

.github/labeler.yml:

documentation:
  - ./*md
  - ./docs/**/*

dependencies:
  - go.mod
  - go.sum

workflow:
  - .github/**/*

code:
  - ./**/*go

unittests:
  - ./**/*_test.go

danger-zone:
  - ./LICENSE


terminal implementation:
  - ./internal/terminalgame/**/*
  - ./cmd/terminal-game/*

giu widget:
  - ./pkg/giuwidget/**/*
  - ./cmd/giu-game/*

game core:
  - ./pkg/core/**/*

AI-logic:
  - ./pkg/core/pcplayer/**/*

update makefile
  Makefile
Labels: none

makefile: update
  .gitignore
  Makefile
Labels: none

giu widget: add new variable that derermines if the board is displayed
  pkg/giuwidget/state.go
  pkg/giuwidget/widget.go
Labels: code, giu widget

gitignore: ignore vendor directory
  .gitignore
Labels: none

giuwidget: set font size
  pkg/giuwidget/widget.go
Labels: code, giu widget

go mod: temporarly update giu to fix font size issue
  go.mod
  go.sum
Labels: dependencies

makefile: enable cgo on linux
  Makefile
Labels: none

workflows: setup mingw
  .github/workflows/build.yml
Labels: workflow

giu widget: style board
  pkg/giuwidget/widget.go
Labels: code, giu widget

giu widget: fix bug when clicking empty button after game end caused crash
  pkg/giuwidget/widget.go
Labels: code, giu widget

giuwidget: add more board styles
  pkg/giuwidget/widget.go
Labels: code, giu widget

giuwidget: set buttons spacing a constant
  pkg/giuwidget/widget.go
Labels: code, giu widget

giuwidget: autosize board
  pkg/giuwidget/widget.go
Labels: code, giu widget

giuwidget: clicking on board causes reseting game
  pkg/giuwidget/state.go
  pkg/giuwidget/widget.go
Labels: code, giu widget

giuwidget: center play game button; don't display it during gameplay
  pkg/giuwidget/widget.go
Labels: code, giu widget

giuwidget: center game board
  pkg/giuwidget/widget.go
Labels: code, giu widget

giuwidget: set font size
  pkg/giuwidget/widget.go
Labels: code, giu widget

giuwidget: add settings
  cmd/giu-game/tic-tac-go.go
  pkg/giuwidget/state.go
  pkg/giuwidget/widget.go
Labels: code, giu widget

circleci: update config
  .circleci/config.yml
Labels: none

circleci: use makefile
  .circleci/config.yml
Labels: none

docs: update screenshot
  docs/in_giu.png
Labels: documentation

workflows: disable windows and macos
  .github/workflows/build.yml
Labels: workflow

[ImgBot] Optimize images
  docs/in_giu.png
  docs/in_terminal.png
Labels: documentation

linter: fix part of lint errors
  .golangci.yml
  internal/terminalgame/menu/menu.go
  pkg/game/game.go
  pkg/giuwidget/state.go
  pkg/giuwidget/widget.go
Labels: code, terminal implementation, giu widget

CI: upgrade golangci-lint
  .circleci/config.yml
  .github/workflows/golangci-lint.yaml
Labels: workflow

game.go: fix typos
  pkg/game/game.go
Labels: code

fix all linter errors
  internal/terminalgame/game/game.go
Labels: code, terminal implementation

workflows: update workflow
  .github/workflows/release-package.yml
Labels: workflow

bugfix: fix bug when winning indexes in 5x5 board was calculated incorrectly
  pkg/core/board/enum.go
Labels: code, game core

board: fix bug when get winning board returned some strange indexes
  pkg/core/board/enum.go
Labels: code, game core

board: another bugfix
  pkg/core/board/enum.go
Labels: code, game core

giuwidget: style menu
  pkg/giuwidget/widget.go
Labels: code, giu widget

relase workflow: change releaser
  .github/workflows/release-package.yml
Labels: workflow

deps: update to lates giu and go 1.18
  go.mod
  go.sum
Labels: dependencies

github actions: update go version to 1.18.x
  .github/workflows/build.yml
  .github/workflows/golangci-lint.yaml
  .github/workflows/release-package.yml
Labels: workflow

internal/terminalgame/menu: fix random Seed setup position
  internal/terminalgame/menu/menu.go
Labels: code, terminal implementation

pcplayer test: add more tests for pcplayer engine
  pkg/core/board/board.go
  pkg/core/pcplayer/pc_player_engine_test.go
Labels: code, unittests, game core, AI-logic

coverage workflow: update go to 1.18
  .github/workflows/coverage.yaml
Labels: workflow

scripts: add board drawer
  scripts/draw-board/main.go
Labels: code

all: fix part of lint errors
  pkg/core/pcplayer/pc_player_engine_test.go
  scripts/draw-board/main.go
Labels: code, unittests, game core, AI-logic
